@import"../app.scss";
@import"../user/user.scss";
@import "template/post_footer.scss"; 

.head-image {
    width: 100%;
}
.voc-logo{
    max-height: 45px;
}
.modal-dialog {
    margin: 0 auto!important;
}
.header{
    padding: 5px 0px;
    min-height: 50px;
}  
.follow-voc-link{
    width: 140px;
    font-size: 16px;
}

/*training css*/
.go-to-section {
  display: block;
  background-color: #fff;
  padding: 20px;

  ul {
    display: flex;
    justify-content: start;
    align-content: center;
    text-align: center;
    list-style-type: disc;

    li {
      margin: 0 30px;

      a {
        color: #E23424;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

      }

    }

    .fa, .fas {
      font-size: 26px;
      color: #E23424;
      padding: 0;
      border-radius: 10px;
      display: block;
        &:hover {
          background: #fff;
          transition: all 400ms ease-in-out;
          color: #E63C28;
        }
    }

  }


}


.page_title {
  display: inline-block;
  font-size: 23px;
  .orange {
    color: #ee5826;
  }
}

.training {
  color: #2a2733;

.inner {
  padding: 30px;

  @media screen and (max-width: 500px) {
    padding: 20px;
  }

}

.sub_title {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: darken(#fff, 9%);
}

h3 {
  padding: 10px;
  color: #fff;
  font-weight: bold;
}

  video {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  .video_collection,
  .most-popular-vocs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    @media screen and (max-width: 895px) {
      flex-direction: column;
      margin-bottom: 20px;
    }

    li {
      padding: 15px;
      background-color: #fff;
      box-shadow: 0 5px 7px 0 #ccd9e2;

     &:not(last) {
       margin: 0 20px;

      @media screen and (max-width: 895px) {
        margin: 20px;
      }

      @media screen and (max-width: 500px) {
        margin: 10px;
      }

     }

    }
  
  }

  .most-popular-vocs {
    margin-bottom: 0;

    ul { 
      width: 100%; 

      li {
        font-size: 21px;
        font-weight: 700;
        margin: 0 20px;

      &:not(last) {
        border-bottom: 1px solid #efefef;
      }

      p {
        display: block;
        font-size: 16px;
        font-weight: 400;
      }

      @media screen and (max-width: 500px) {
        margin: 0 10px;
      }

      }

    }

  }

  &.home-page,
  &.user-page,
  &.business-admin {
    min-height: 300px;
  }

  &.home-page {
    background: #C5DFF1;

    h3 {
      background-color: #276993;
    }

  }

  &.user-page {
    background: #f1ccc5;

    h3 {
      background: #E34217;
    }

  }

  &.business-admin {
    background: #EEF0F1;

    h3 {
      background: #3a515d;
    }

  }

  .video {

    p {
      margin-top: 10px;
    }

  }

  &:not(last) {
    margin-bottom: 80px;
  }

}

.legal {

  .section {
    margin-bottom: 30px;

    .italic { font-style: italic; }
    .bold { font-weight: bold; }

    .title { 
      display: block;
      font-size: 20px; 
    }

    .content {
      line-height: 23px;

      &:not(last) {
        margin: 0 0 10px;
      }

    }

  }

}