@import"../app.scss";
//@import"../user/user.scss";
@import"../../plugin/scale-overlay.scss";
@import "template/post_footer.scss"; 

.outer-content{
    display: flex;
    @media only screen and (max-width: 767px){ 
        display: block;
    }
}
.head-image {
    width: 100%;
}
.voc-logo{
    max-height: 45px;
}
.description {
    background: $white-color;
    padding: 35px 20px;
}
.image{
    padding-right: 0;
}
.before-footer-divs {
    margin-top: 15px;
    margin: 0 -15px;
}
.header{
    padding: 23px 0px;
    min-height: 50px;
} 
.follow-voc-link{
       margin-top: 2px;
}
.vocit-posts{
    margin-top: 20px;
}
@media only screen and (max-width: 767px){
    .image {
        padding-left: 0;
    }
}