@import"../app.scss";
//@import"../user/user.scss";
@import"../../plugin/scale-overlay.scss";
@import "template/post_footer.scss"; 

.head-image {
    width: 100%;
}
.voc-logo{
    max-height: 45px;
}
.description {
    padding: 35px 0;
    width: 100%;
    background: #fff;
    padding: 10px;
    float: left;
    -webkit-box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
    margin-bottom: 20px;
    margin-top: 20px;
}
.modal-dialog {
    margin: 0 auto!important;
}
.header{
    padding: 23px 0px;
    min-height: 50px;
}  
.follow-voc-link{
      margin-top: 2px;
}