.modal{
    padding: 0 !important;
}
.site-builder-body {
    margin-top: 20px !important;
    .modal-header {
        padding: 5px 10px 0 0!important;
    }
    .modal-body {
        padding: 0!important;
    }
}
.modal-dialog { 
    width: 435px;
    margin: 0 auto;
    &.modal-width{
        width:650px;
        @media screen and (max-width:700px){
            width:95%;
        }
    }
    .modal-content { 
        .modal-header{
            .close{
                &:focus{
                    outline: 0; 
                }
            }
        }
        @media screen and (max-width:768px){
            margin-top: 20px;
        }
        margin-top: 50px;
        border-radius: 0;
        .modal-header {
            border-bottom:0;
            .modal-title { 
                text-align:center;  
                color:black;
                span { 
                    color:red;

                }  
            }
        }  
        .modal-body { 
            overflow:hidden; 
            label {
                font-weight: 100;
            }
            form {
                width: 100%;
                padding: 0 51px;
                overflow: hidden;

            }

            li {
                list-style: none; 
            }
            .checkbox-custom-label{
                span {
                    color: #107ede;
                }
                input {
                    width: 22px;
                    height: 22px;
                    float: left;
                    margin-right: 13px;
                    margin: 0px 25px 0 0;
                    visibility: hidden; 
                    position: relative; 
                    margin-right: 13px;

                    &:before {
                        content: '';
                        display: block;  
                        position: absolute;
                        top: 0;
                        left: 0; 
                        right: 0;
                        bottom: 0;
                        visibility: visible;
                        border: 1px solid #a2a2a2;
                    }
                    &:checked{

                        &:after { 
                            content: "";
                            position: absolute;
                            left: 8px;
                            top: 1px;
                            width: 7px;
                            -webkit-transform: rotate(45deg);
                            transform: rotate(45deg);
                            height: 16px;
                            border-right: 2px solid #707070;
                            border-bottom: 2px solid #707070;
                            border-radius: 2px;
                            visibility: visible;

                        }
                    }
                }
            }
            .continue-button {  
                width: 100%;
                float:left;
                text-align: center;
                border-color: grey; 
                .btn-red{
                    border-radius: 0;
                    background-color: $light-orange;
                    color: $white-color;
                    border: 0;
                    font-size: 17px;
                    margin-top: 25px; 
                    width: 150px;
                    margin-right: 5px;
                    margin-left: 5px;    
                    margin-bottom: 25px;
                    &:focus{
                        outline:0;
                    }
                }
                .btn-width {
                    width: 220px;
                }
                .margin-set { 
                    margin-right: 5px;
                    margin-left: 5px;
                    width: 45%;
                    .top-margin-set {
                        margin-top: 0;
                    }
                } 

                .options {
                    .btn-default {
                        margin-top: 0px;
                        .dropdown {
                            width: 50%;
                            float: left;
                            .dropdown-menu {
                                margin-left: 23px;
                            }
                        }
                    } 
                    .cat-subcat-selection{
                        padding: 6px 25px;
                        position: relative;
                        .glyphicon-ok{
                            display:none;
                        }
                        &.success{
                            .glyphicon-ok{
                                display: inline-block;
                                line-height: 38px;
                                color: #fff;
                                background: $orange-color;
                                width: 45px;
                                font-size: 15px;
                                position: absolute;
                                top: 0;
                                left: 0;
                                bottom: 0;
                            }
                        }
                        /*background-color: #5cb85c;*/
                    }
                    .sub-categories {
                        float: none;
                        width: 74%;
                        margin: auto;
                        display:none;
                        ul {
                            float: left;
                            width: 100%;
                            padding: 15px;
                            margin-bottom: 15px;
                            border: 1px solid grey;
                            margin-top: -10px;
                            li {
                                /*padding-left: 43px;*/
                                text-align: left;
                                float: left; 
                                width: 50%;  
                            }
                        }

                    }
                }
                p {
                    max-width: 100%;
                    margin-bottom: 0px;
                    padding-top: 105px;
                    span {
                        color: #107ede;
                    }
                }
            }

            .tag-line {
                float: left;
                padding-top: 25px;
                text-align: center;
                margin-bottom: 0;
                width: 100%;
                font-size: 16px;
            }
            .templates{ 
                float: left;
                margin: 0 -4px;
            }
        }

    }

}  
#voc-create {
    .form-response{
        width: 75%;
        margin: 0 auto;
    }
}
#login-modal{
    .form-response{
        width: 75%;
        margin: 0 auto;
        margin-bottom: 15px;
    }
}
#templateModal{
    .each-template{
        position:relative;
        width: 50%;
        float: left;
        padding: 4px;
        img{
            width: 100%; 
            cursor: pointer;
        }
        .success-tick{
            position: absolute;
            bottom: 10px;
            right: 10px;
            width: 25px;
            height: 25px;
            background-color: #5cb85c;
            font-size: 17px;
            border-radius: 50%;
            text-align: center;
            line-height: 26px;
            color: #fff;
            display:none;
        }
    }
    .each-template.success .success-tick{
        display:block;
    }
}
#site-builder{
    .form-response{
        margin: 0 51px;
        &.success, &.error{
            margin-bottom: 15px;
        }
    }
    .continue-button .btn-red{
        margin-top: 0px!important;
    }
}
#carousel{
    .form-response{
        width: 87%;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .carousel .next {
        right: -9px;
    }
    .carousel .prev {
        left: -9px;
    }
    .continue-button{
        padding: 0 51px;
    }
    .modal-width{
        width: 670px;
    }
    .modal-body form{
        padding: 0 10px;
        overflow: auto;
    }
}
#voc-category-topic-modal{
    .modal-dialog .modal-content{
        margin-top: 65px;
    }
    .modal-body{
        padding-left: 50px;
        padding-right: 50px;
    }
}

/*Voc Create*/

.create-voc{
    /*width: 435px;*/
    margin: 0 auto;
    &.create-width{
        width:650px;
        @media screen and (max-width:700px){
            width:95%;
        }
    }
    .create-content{
        margin-top: 20px;
        border-radius: 0;
        margin-bottom: 20px;
        .create-header {
            border-bottom:0;
            .create-title { 
                text-align:center;  
                color:black;
                span { 
                    color:red;

                }  
            }
        }  
        .create-body { 
            overflow:hidden;
            label {
                font-weight: 400;
                color: #373737;
            }
            .input-outer{
                text-align: left;
            }
            .continue-button{
                .btn-create{
                    border: 0;
                    width: 150px;
                }
            }
            form {
                width: 100%;
                padding: 0 51px;
                overflow: hidden;
            }
            li {
                list-style: none; 
            }
            .checkbox-custom-label{
                span {
                    color: #107ede;
                }
                input {
                    width: 22px;
                    height: 22px;
                    float: left;
                    margin-right: 13px;
                    margin: 0px 25px 0 0;
                    visibility: hidden; 
                    position: relative; 
                    margin-right: 13px;

                    &:before {
                        content: '';
                        display: block;  
                        position: absolute;
                        top: 0;
                        left: 0; 
                        right: 0;
                        bottom: 0;
                        visibility: visible;
                        border: 1px solid #a2a2a2;
                    }
                    &:checked{

                        &:after { 
                            content: "";
                            position: absolute;
                            left: 8px;
                            top: 1px;
                            width: 7px;
                            -webkit-transform: rotate(45deg);
                            transform: rotate(45deg);
                            height: 16px;
                            border-right: 2px solid #707070;
                            border-bottom: 2px solid #707070;
                            border-radius: 2px;
                            visibility: visible;

                        }
                    }
                }
            }
            /*            .continue-button {  
                            width: 100%;
                            float:left;
                            text-align: center;
                            border-color: grey; 
                            .btn-red{
                                border-radius: 0;
                                background-color: #f73d2b;
                                color: white;
                                border: 0;
                                font-size: 17px;
                                margin-top: 25px; 
                                width: 150px;
                                margin-right: 5px;
                                margin-left: 5px;    
                                margin-bottom: 25px;
                                &:focus{
                                    outline:0;
                                }
                            }
                            .btn-width {
                                text-align: left;
                                width: 80%;
                            }
                            h4{
                                margin-top: 0px;
                                margin-bottom: 18px;
                                text-align: left;
                            }
                            .checkbox{
                                text-align: left;
                                label{
                                    font-family: inherit;
                                    font-weight: 500;
                                    color: #373737;
                                    width: 50%;
                                    float: left; 
                                    font-size: 15px;
                                    padding: 0;
                                }
                            }
                            .margin-set { 
                                margin-right: 5px;
                                margin-left: 5px;
                                width: 45%;
                                .top-margin-set {
                                    margin-top: 0;
                                }
                            } 
            
                            .options {
                                .btn-default {
                                    margin-top: 0px;
                                    .dropdown {
                                        width: 50%;
                                        float: left;
                                        .dropdown-menu {
                                            margin-left: 23px;
                                        }
                                    }
                                } 
                                .cat-subcat-selection{
                                    padding: 6px 25px;
                                    position: relative;
                                    .glyphicon-ok{
                                        display:none;
                                    }
                                    &.success{
                                        .glyphicon-ok{
                                            display: inline-block;
                                            line-height: 38px;
                                            color: #fff;
                                            background: #da3c2d;
                                            width: 45px;
                                            font-size: 15px;
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            bottom: 0;
                                        }
                                    }
                                    background-color: #5cb85c;
                                }
                                .sub-categories {
                                    float: none;
                                    width: 74%;
                                    margin: auto;
                                    display:none;
                                    ul {
                                        float: left;
                                        width: 100%;
                                        padding: 15px;
                                        margin-bottom: 15px;
                                        border: 1px solid grey;
                                        margin-top: -10px;
                                        li {
                                            padding-left: 43px;
                                            text-align: left;
                                            float: left; 
                                            width: 50%;  
                                        }
                                    }
            
                                }
                            }
                            p {
                                max-width: 100%;
                                margin-bottom: 0px;
                                padding-top: 105px;
                                span {
                                    color: #107ede;
                                }
                            }
                        }*/

            .tag-line {
                float: left;
                padding-top: 25px;
                text-align: center;
                margin-bottom: 0;
                width: 100%;
                font-size: 16px;
                line-height: 16px;
            }
            .templates{ 
                float: left;
                margin: 0 -4px;
                margin-bottom: 20px;
            }
        }
    }
}
#voc-template{
    .modal-dialog{
        width: 600px;
        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }
}
/*END*/