// Dashboard Styles

.profile-picture {
    max-height:90px;
}

.reset-password-panel {
    margin: 20px auto;
    float: none;
    text-align: center;
    .reset-password-heading {
        color: #000;
        border: none;
        text-align: center;
    }
    label {
        font-weight: 400!important;
    }
}
.reset-password-input {
    width: 75%;
    float: none!important;
    margin: 15px auto !important;
    p {
        float: left;
        margin-left: 15px;
    }
}
.reset-password-btn {
    width: 259px;
}
