// Variables
@import "../variables";

@import "../../plugin/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min";

.voc {
    width: 50%;
    .voc-image {
        max-width: 100%;
        margin-top: 10px;
    }
    .team-image {
        max-width: 100%;
    }
}
.promotion-c-image {
    width: 20%;
}
.promotion-header {
    width: 60%;
}
.event-body {
    width: 50%;
    text-align: justify;
}
.event-name {
    width: 25%;
    text-align: justify;
}
.align-datetimepicker {
    width: 25%;
}
.media-img-close-btn {
    position: absolute;
    right: 5px;
    top: 2px;
    z-index: 2;
    font-size: 20px;
    border: none;
    background: transparent;
    color: #d2d6de;
    font-weight: bold;
}
#media-video-close-btn {
    position: absolute;
    right: 23px;
    top: 5px;
    z-index: 2;
    font-size: 23px;
    border: none;
    background: transparent;
}
.each-template{
    margin-bottom: 30px;
    &:nth-child(4n){
        clear: left;
    }
    &> div{
        float: left;
        border: 1px solid #ddd;
        -webkit-box-shadow: 0 1px 1px -1px rgba(0,0,0,.1);
        box-shadow: 0 1px 1px -1px rgba(0,0,0,.1);
        background: #fff;
        color: #444;
        &.active{
            background: #1a2226;
            color: #b8c7ce;
        }
    }
    h4{
        display: inline-block;
        padding-left: 10px;
        padding-top: 5px;
        font-size: 17px;
    }
    .activate{
        margin: 8px 10px 8px 0px;
        display: inline-block;
    }
}
.custom-level{
    h1{
        margin-top: 0;
        padding-left: 23px;
        margin-bottom: 20px;
        font-size: 28px;
    }
    .level-no-outer{
        padding: 0;
        margin-left: 25px;
        margin-bottom: 25px;
        &>div{
            margin: 0 -10px;
        }
        @media only screen and (max-width: 991px){ 
            margin-bottom: 5px;
        }
        @media only screen and (max-width: 767px){ 
            margin: 0;
            padding: 0 25px;
        }
    }
    .level-no {
        padding:0 10px;
        &> a{
            background-color: #2c3b41;
            color: #fff;
            padding: 30px 28px 30px 28px;
            border-radius: 3px;
            display: block;
            @media only screen and (max-width: 1100px){ 
                padding: 30px 26px 30px 26px;
            }
            @media only screen and (max-width: 991px){ 
                padding: 30px 28px 30px 28px;
                margin-bottom: 20px;
            }
            h3{
                display: inline-block;
                margin: 0;
                font-size: 1.4vw;
                font-family: $gothambook;
                @media only screen and (max-width: 1150px){ 
                    font-size: 16px;
                }
                @media only screen and (max-width: 1133px){ 
                    font-size: 15px;
                }
                @media only screen and (max-width: 991px){ 
                    font-size: 20px;
                }
            }
        }
        &.active{
            a{
                background-color: $light-orange;
            }
            #hireUs{
                background-color: #ff8b64;
            }
            &:hover{
                a{
                    background-color: $light-orange;
                }
            }
        }
        &:hover{
            a{
                background-color: #2c3235;
            }
        }
    }
}