@import"../app.scss";
@import"../../plugin/owl.carousel.scss";
@import"../../plugin/scale-overlay.scss";
@import"../custom_template/template/post_footer.scss";
/*left tab section*/
.main_content{
    .tab_section ,.tab_section_mobile{
        font-family: $gothambold;
        text-transform:uppercase;
        font-size: 13px;
        color: $standard-black;
        h2{
            font-size: 13px;
            margin: 3px 3px 3px 0;
            float: left;
            span{
                background:url(../img/frontend/symbols.png) no-repeat;
                width: 10px;
                height: 15px;
                display: inline-block;
                background-position: -23px -21px;
                vertical-align: middle;
                margin: 0 15px 0 30px;
                @media (max-width: 768px) {
                    background-position: -20px -6px;
                    margin: 0 15px 0 10px;
                    width: 18px;
                    height: 15px;
                }
            }
        }
        .left_tab{
            a{
                color: $standard-black;
                padding: 0 10px;
            }
        }
    }
    .tab_section_mobile{
        .dropdown-toggle{
            display: inline-block;
        }
        h2{
            span{
                background-position: -20px -6px;
                width: 16px;
                height: 15px;
            }
            color: $standard-black;
        }
        .dropdown-menu{
            left: 16px;
            border-radius: 0;
            background-color: $body-bg;
            border: 0;
            border-bottom: 2px solid $orange-color;
            padding: 0;
            li a{
                padding: 6px 20px;
                font-size: 13px;
                &:hover, &:focus{
                    background: $light-red;
                }
            }
        }
    }
    .popular-searches.selected-option{
        a{
            color:$orange-color !important;
        }
    }
    .search_section{
        float: right;
        .search-btn{
            background:url(../img/frontend/symbols.png) no-repeat;
            width: 12px;
            height: 19px;
            display: inline-block;
            background-position: -3px -3px;
            vertical-align: middle;
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 4px;
        }
        #search-no-data{
            padding: 6px 10px;
            font-size: 12px;
            background: $light-red;
            color: $standard-black;
            font-family: $gothambold;
            text-transform: uppercase;
            position: absolute;
            z-index: 99;
            width: 100%;
            display:none;
        }
    }
    .discover-next{
        padding: 0 15px;
    }
    @media (max-width: 320px) {
        .tab_section_outer{
            padding-right: 0;
            .tab_section_mobile{
                span{
                    margin: 0;
                }
            }
        }
        .search_section_outer{
            .search_field{
                input{
                    width: 100%;
                }
            }
        }
    }
}
.slider_outer_div , .all_slider_div{
    opacity:0;
    margin-top: 15px;
    #slider_div{
        li:first-child > a > .image_div{
            border:0;
        }
    }
    .image_div{
        border-left: 8px solid #fff;
        background-position: top center;
        background-size: cover;
        background-color: $light-red;
    }
    .voc-logo{
        position: absolute;
        top: 10px;
        left: 18px;
        max-width: 100px;
    }
    .content{
        margin-top: 15px;
        border-left: 1px solid $standard-black;
        float: left;
        padding-left: 10px;
        background: $body-bg;
        height: 300px;
        width: 100%;
        h2{
            font-family: $otamasemibold;
            width: 16%;
            float: left;
            margin: 5px 0 0 0;
            padding-right: 10px;
            font-size: 17px;
            color: $standard-black;
        }
        .right_div{
            width: 84%;
            float: left;
            font-size: 13px;
            line-height: 18px;
        }
    }
    .slide-open, .owl-item{
        .content{
            h2{
                font-family: $otamabold;
                width: 45%; 
                font-size: 30px;
                line-height: 30px;
                @media (max-width: 400px) {
                    width: 100%; 
                }
            }
            .right_div{
                width: 55%; 
                padding-right: 10px;
                @media (max-width: 400px) {
                    width: 100%; 
                }
            }
        }
    }
    .owl-item{
        width: 100%;
        .image_div{
            border:0;
            min-height: 40vh;
            background-size: cover;
            position: relative;
            background-position: top center;
            background-color: $light-red;
            width: 100%;
        }
        .voc-logo{
            width: 100px; 
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 2;
        }
        .content{
            height: 85px;
            width: 100%;
        }
    }
}
.owl-nav{
    .owl-next{
        background:url(../img/frontend/arrow-point.png) no-repeat;
        width: 33px;
        height: 58px;
        display: inline-block;
        background-position: -3px -3px;
        cursor: pointer;
        position: absolute;
        top: 33%;
        right: 0;
    }
    .owl-prev{
        background:url(../img/frontend/arrow-point.png) no-repeat;
        width: 33px;
        height: 58px;
        display: inline-block;
        background-position: -3px -3px;
        cursor: pointer;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        position: absolute;
        top: 33%;
    }
}
