/*Errors*/
.alert-error{
    background-color: #f2dede;
    padding: 7px 15px;
    color: #a94442;
    text-align: left;
}
.form-response.success{
    background-color: #dff0d8;
    padding: 7px 15px;
    color: #333;
}
.form-response.error{
    background-color: #f2dede;
    padding: 7px 15px;
    color: #a94442;
}
/*END*/
.button-add-cat {
    margin-right: 40px;
}
.input-width {
    width: 70%;
}
.action {
    text-align: center;
}
.title {
    text-align: center;

}
.link-align-center {
    text-align: center;
    .btn-danger-margin {
        margin-right: 5px;   
    }
}
.margin-sub-cat-top {
    margin-top: 0;
}
.skin-blue.voc-dash {
    .content-wrapper{
        background: #fff1f0;
    }
    .content-header{
        padding: 10px 15px !important;
    }
    #voc-dashboard-header{
        .navbar{
            background-color: #fff !important; 
            -webkit-box-shadow:0 2px 1px -1px rgba(0, 0, 0, 0.1); 
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
        }
        .logo{
            background-color: #fff !important;  
            color: #ee5826 !important;
            &:hover{
                background-color: #fff !important;
            }
            .logo-mini{
                font-size: 23px;
            }
        }
        .logo-lg{
            img{
                width: auto;
                padding: 5px 0;
                display: inline-block;
                float: none;
                margin-top: -4px;
            }
        }
        .navbar .sidebar-toggle{
            font-size: 20px;
            color: #ee5826;
            padding: 11px 10px;  
            &:hover{
                background-color: #fff !important;
            }
        }
        .navbar .nav > li > a{
            color: #1f2024 !important;
            &:hover, &:focus{
                background-color: #fff; 
            }
        }
        .navbar .nav .open > a{
            background-color: #fff; 
        }
        .navbar-nav > .user-menu > .dropdown-menu > .user-footer{
            padding: 0;
            background-color: #fff; 
        }
        .navbar-custom-menu > .navbar-nav > li > .dropdown-menu{
            width: 160px;
            background-color: #fff;
            top: 101%;
            right: 11px;
            &>li > a{
                padding: 7px 20px ;
                color: #333333 !important;
                .fa{
                    font-size: 15px;
                }
                &:hover{
                    background-color: #fff1f0;
                }
            }
        }
    }
    .sidebar a{
        color: #fff;
    }
    .sidebar-menu > li.active > a, .sidebar-menu > li:hover > a{
        border-left-color: #ee5826;
        .fa {
            color: #ee5826;
        }
    }
    .sidebar-menu > li.active .treeview-menu .active a,  .sidebar-menu > li.active .treeview-menu a:hover{
        .fa {
            color: #ee5826;
        }
    }

    .main-footer{
        background: #2c3235;
        color: #fff;
        margin: 0;
        z-index: 999;
        border: 0;
        position: relative;
        text-align: center; 
    }
    @media (max-width: 991px){
        .navbar-custom-menu > .navbar-nav > li > .dropdown-menu{
            right: 2%;
        }
    }
    .content-header{
        background: #fff1f0;
        padding-bottom: 15px;
    }
    .content{
        padding: 0;
    }
    .box{
        &.wide-box{
            display: flex;   
            padding: 0;
        }
        border: 0;
        margin: 0;
        border-radius: 0;
        padding: 0 5px;
        .box-body{
            background: #fff;
            border-radius: 0;
            padding-bottom: 50px;
            .page-block-title{
                border: 1px solid #ddd;
                width: calc(50% - 5px);
                padding: 5px 10px;
                font-weight: bold;
                cursor: pointer;
                margin-bottom: 30px;
                &.active{
                    -webkit-box-shadow: -1px 2px 7px 1px #d1dfe9;
                    box-shadow: -1px 2px 7px 1px #d1dfe9;
                }
                span{
                    display: block;
                    font-size: 13px;
                    font-style: italic;
                    color: #777;
                    font-weight: normal;
                }
                &[data-type="content-block"]{
                    margin-right: 5px;
                }
                &[data-type="page-settings"]{
                    margin-left: 5px;
                }
            }
            .page-block-content{
                .form-submitter{
                    text-align: center;
                    .btn-success{
                        border: 0;
                    }
                }
            }
        }
        .box-body-right{
            box-shadow: -3px 3px 11px 1px #d1dfe9;
        }
    }
    .btn-black{
        background-color: #2c3b41;
        border-color: #2c3b41;
        color: #fff;
        &:hover, &:active, &:focus{
            background: #222d32;
            border-color: #222d32;
        }
    }
    .btn-black.preview{
        margin-right: 8px;
    }
}
#toast-container{
    top: 50px;
    .toast-success{
        box-shadow: none;
        padding: 10px 15px 10px 50px;
        opacity: 1;
    }
}

