// Typography
$fa-font-path: "../fonts/vendor/font-awesome/";
$icon-font-path: "../fonts/vendor/bootstrap-sass/bootstrap/";
$font-family-sans-serif:  Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;