/*.main_content{
    .all-vocs {
        .col-sm-3{
             padding:0 
            padding-bottom:15px;
            padding-top:15px;
            cursor:pointer;
        }
    }
    #pinBoot {
        .applybtn{
            margin: 28px auto 0;
            padding: 7px 20px;
            text-align: center;
            display: block;
            letter-spacing: 0.4px;
            position:relative;
            z-index:999; width: 200px;
            border-radius: 0;
            text-transform: uppercase;
        }
        &:focus{
            background:#276993; color:#FFF;
        }
        .white-panel {
            background: #FFF;
            background-size:100% auto !important;
            .text{
                padding:19px 19px 28px;
                h5 {
                    font-size:24px;
                    color:#2a2733;
                    min-height: 51px;
                    margin-top: 5px;
                    color:#2a2733;
                    font-family: 'standing_room_only_nfregular';
                }
                p{
                    color:#999999;
                    font-size:15px;
                    line-height:24px;
                    margin-bottom: 0;
                }
            }
            img {
                width: 100%;
                max-width: 100%;
                height: auto;
            }
            .date{
                color:#b2afaf;
                font-size:14px;
                text-transform:uppercase;
                font-weight:$font-weight;
            }
            p.location{
                color:$text-color;
                font-size:16px;
                font-weight: 600;
            }

            .logo-image{
                img{
                    width:auto;
                    height: auto;
                    max-height: 72px;
                    margin: 0 auto 40px;
                }
            }
            .event-date{
                font-weight: 800;
                color: #276993;
                text-align: center;
                font-size:24px;
            }
        }
        .promotionpost{
            background-position:top center;
            background-repeat:no-repeat;
            .text{
                background:rgba(0, 0, 0, 0.5);
                color: #FFF;
                h5{
                    margin-top:162px;
                    color:#FFF;
                }
                p{
                    font-size:17px;
                    color:#FFF;
                    line-height:24px;
                }
                .date{
                    color:#FFF;
                    text-align: right;
                    margin-top: 14px;
                }
            }
        }
        .update-post{
            .white-color{
                padding:0 !important;
                .messagepost{
                    padding:19px 19px 28px !important;
                }
            }
            .innerdiv{
                padding:19px 19px 28px;
                background-color:#FFF;
                background-repeat:no-repeat !important;
                background-size:cover;
                background-position:top center;
            }
            .without-color{
                background:none!important;
                padding:0 !important;
                h5{
                    margin-top: 19px;
                    color:#2a2733;
                }
                p{
                    font-size:17px;
                    color:#999999;
                    line-height:24px;
                }
            }
            .white-color{
                h5{
                    margin-top: 19px;
                    color:#FFF;
                }
                p{
                    font-size:17px;
                    color:#FFF;
                    line-height:24px;
                }
            }
            .text{
                padding:0;
                text-shadow: 1px 1px 1px #000;
                color: $white-color;
            }
            h5{
                margin-top: 19px;
                color:$white-color;
            }
            p{
                font-size:17px;
                color:#FFF;
                line-height:24px;
            }
            .date{
                color:#FFF;
                text-align:right;
                margin-top: 14px;
            }
            img{
                max-height: 72px;
                width: auto;
                margin: 20px auto 0;
            }
        }
        .eventpost{
            background:#FFF;
            .text{
                h5{
                    margin-top: 19px;
                    color:#2a2733;
                }
                p{
                    color: #999999;
                    font-size: 15px;
                    line-height: 24px;
                    margin-bottom: 0;
                }
                .date{
                    color: #b2afaf;
                    text-align:right;
                }
                img{
                    max-height: 72px;
                    width: auto;
                    margin:21px auto 0;
                }
            }
        }
        .voice-post{
            .voicepost{
                padding: 19px 19px 28px;
                .date{
                    color: #b2afaf;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: 500;
                }
                .voice-name{
                    font-size: 24px;
                    margin-top: 5px;
                    color: #2a2733;
                    font-family: 'standing_room_only_nfregular';
                }
                .voice-content{
                    color: #999999;
                    font-size: 15px;
                    line-height: 24px;
                    margin-bottom: 0;
                }
            }
        }
        .before-footer-divs{
            width:100% !important;
        }
    }
    .messagepost, .promotion-content{
        background-size:cover;
        background-position:top center;
    }
    .innerdiv.white-color .white-panel{
        position:relative;
        background:rgba(0, 0, 0, 0.5)!important ;
        height:100%;
        padding:19px 19px 28px;
    }
}
media
@media (min-width: 1024px) and (max-width: 1250px) {
    body .main_content {
        #pinBoot 
        { .applybtn{   
              width: 139px;
              padding:12px 0;
              text-align: center;
          }
          .white-panel {
              .text {
                   padding: 19px 10px 28px;
                  
                  h5{
                      font-size: 20px;
                  }
                  p{
                      font-size: 14px;
                      line-height: 21px;
                  }
                  img {
                      height: 44px;
                      width: auto;
                      margin: 30px auto;
                  }
                   .bottom_text{
                       bottom:8px;
                       width:86%;
                  }
                  
                  .date{
                      margin-top: 0;
                  }
              }

          }
        }
        .all-vocs {
            width: 100%;
        }
    }
    body .white-bg {
        .header {
            p {
                font-size: 25px;
                margin-left: 22px;
            }
        }
    }
}
@media (min-width: 992px) and (max-width: 1024px) {
    search slider
    body .main_content{
        #pinBoot 
        {
            .applybtn{
                width: 139px;
                padding:12px 0;
                text-align: center;
            }

            .white-panel {
                .text {
                    padding: 19px 10px 28px;
                    h5{
                        font-size: 20px;
                    }
                    p{
                        font-size: 14px;
                        line-height: 21px;
                    }
                    img {
                        height: 44px;
                        width: auto;
                        margin: 30px auto;
                    }
                    .bottom_text{
                         bottom:8px;
                    }
                    
                    .date{
                        margin-top: 0;
                    }
                }
            }   
        }
        #pinBoot .promotionpost, #pinBoot .messagepost, #pinBoot .eventpost{
        }
        .voc_section #bg-shd {
            padding-top: 0;
        }
    }
}
@media (min-width: 768px) and (max-width:1023px) {
    .main_content #pinBoot .promotionpost .text h5{
        margin-top: 72px;
    }
    .main_content #pinBoot .white-panel .event-date{
        font-size:18px !important;
    }
    body .main_content {
        .all-vocs {
            width: 100%;
        }
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    body .main_content {
        .without-color .text{
            padding:0!important;
        }
        #pinBoot 
        {
            .applybtn{
                width: 127px;
                padding: 12px 0;
                text-align: center;
                font-size: 14px !important;
                margin: 15px auto;
            }



            .white-panel {
                .text {
                    padding: 19px 10px 28px;
                    h5{
                        font-size: 17px;
                        margin-bottom: 0 !important;
                    }
                    p{
                        font-size: 13px;
                        line-height: 17px;
                    }
                    img {
                        height: 44px;
                        width: auto;
                        margin: 0 auto;
                    }
                    .bottom_text{
                         bottom: 10px;
                         width: 87%;
                         left: 10px !important;
                    }
                    
                    .date{
                        margin-top: 0;
                    }
                }

            }
        }
        #pinBoot .promotionpost, #pinBoot .messagepost, #pinBoot .eventpost{
            background-size: cover !important;
        }
    }
}
@media screen and (max-width: 767px) {
    body .main_content {
        .all-vocs {
            width: 100%;
        }
        h3{
            font-size: 20px!important;
        }
        #bg-shd {
            padding-top: 0 !important;
        }
        .voc_section {
            .inner{
                padding: 0 0 30px;
            }
        }
        #pinBoot {
            .white-panel{
                .text{
                    p{
                        font-size: 14px;
                    }
                    h5{
                        a{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width:480px) and (max-width:767px) {
    body .main_content{
        #bg-shd {
            padding-top: 0;
        }
    }
}*/

.vocit-posts-container{
    margin-top: 20px;
    .discover-next{
        font-family: $otamabold;
        font-size: 30px;
        line-height: 30px;
        margin-top: 0;
        display: inline-block;
    }
    .sort-by{
        font-family: $gothambold;
        text-transform:uppercase;
        font-size: 13px;
        display: inline-block;
        float: right;
        margin-top: 10px;
    }
    #category-popup{
        cursor: pointer;
    }
}
.vocit-posts{
    min-height: 150px;
    margin: 0 -15px;
    .voc-post{
        margin-bottom: 30px;
        @media (max-width: 767px) {
            margin-bottom: 15px;
        }
        .post-back-image{
            position: relative;
            line-height: 0;
            .post-logo{
                position: absolute;
                top: 12px;
                left: 12px;
                max-width: 120px; 
            }
            .post-image{
                width: 100%;
                height: 13vw;
                background-position: top center;
                background-size: cover;
                @media (max-width: 767px) {
                    height: 30vw;
                }
            }  
            .video-iframe{
                height: 13vw;
                @media (max-width: 767px) {
                    height: 30vw;
                }
            }
            .post-name{
                position: absolute;
                top: 12px;
                right: -12px;
                background: $standard-black;
                padding: 3px 10px;
                color: #fff;
                font-family: $gothambold;
                text-transform:uppercase;
                font-size: 12px;
                line-height: 1.6;
            }
        }
        .post-desc{
            border-bottom: 2px solid $orange-color;
            background: #fff;
            padding: 20px 15px;
            .heading{
                margin-top: 0;
                font-family: $otamasemibold;
            }
            .subheader{
                font-family: $gothambold;
            }
            .desc{
                margin: 0 0 10px 0;
            }
            .extra{
                margin-bottom: 12px;
                .extra-head{
                    font-family: $gothambold;
                    text-transform:uppercase;
                    font-size: 12px;
                    margin: 0;
                }
                .extra-desc{
                    margin: 0;
                }
            }
            .voc-share{
                background: url(../img/frontend/symbols.png) no-repeat;
                width: 34px;
                height: 32px;
                display: inline-block;
                background-position: -42px -59px;
                vertical-align: middle;
                cursor: pointer;
            }
            .voc-out{
                background: url(../img/frontend/symbols.png) no-repeat;
                width: 34px;
                height: 32px;
                display: inline-block;
                background-position: -85px -59px;
                vertical-align: middle;
                float: right;
                cursor: pointer;
            }
        }
        .share-all{
            position: relative;
            display: inline-block;
            .share-buttons{
                position: absolute;
                top: 4px;
                left: 30px;
                width: 125px;
                padding-left: 5px;
                display: none;
                .facebook-share{
                    background: url(../img/frontend/symbols.png) no-repeat;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    background-position: -36px -2px;
                    vertical-align: middle;
                    cursor: pointer;
                }
                .linkedin-share{
                    background: url(../img/frontend/symbols.png) no-repeat;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    background-position: -144px -3px;
                    vertical-align: middle;
                    cursor: pointer;
                }
                .instagram-share{
                    background: url(../img/frontend/symbols.png) no-repeat;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    background-position: -56px -2px;
                    vertical-align: middle;
                    cursor: pointer;
                }
                .pinterest-share{
                    background: url(../img/frontend/symbols.png) no-repeat;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    background-position: -78px -2px;
                    vertical-align: middle;
                    cursor: pointer;
                }
                .twitter-share{
                    background: url(../img/frontend/symbols.png) no-repeat;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    background-position: -100px -2px;
                    vertical-align: middle;
                    cursor: pointer;
                }
                .google-share{
                    background: url(../img/frontend/symbols.png) no-repeat;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    background-position: -120px -2px;
                    vertical-align: middle;
                    cursor: pointer;
                }
            }
        }
    }
}
.job-event-post{
    .post-back-image{
        width: 100%;
        height: 10vw;
        max-height:110px;
        border: 2px solid $standard-black;
        background: $light-red;
        @media (max-width: 767px) {
            height: 15vw;
        }
        .post-logo{
            top: 50% !important;
            left: 50% !important;
            transform: translate(-50%,-50%) !important;
            width: 12vw !important;
            max-width: 120px;
            @media (max-width: 767px) {
                width: 20vw !important;
            }
        }
    }
}
.voice-post{
    .post-back-image{
        width: 100%;
        height: 15vw;
        max-height:150px;
        border: 2px solid $standard-black;
        background: $light-red;
        @media (max-width: 767px) {
            height: 20vw;
        }
        .post-logo{
            top: 50% !important;
            left: 50% !important;
            transform: translate(-50%,-50%) !important;
            border-radius: 50%;
            width: 12vw !important;
            max-width: 120px;
            @media (max-width: 767px) {
                width: 15vw !important;
            }
        }
    } 
}