 
/* Item Name: jQuery Carousel Evolution Author: Mapalla Author URI: http://codecanyon.net/user/Mapalla Version: 1.0 */
/* _______________________________________________ */
/* CONTAINER */
/* _______________________________________________ */
 .carousel {
     position : relative;
     margin : 0 auto;
     width : 100%;
     height : auto;
     border : none;
     overflow : visible;
     padding-top: 1px;
}
/* _______________________________________________ */
/* SLIDES */
/* _______________________________________________ */
/* slide container */
 .carousel .slides {
     margin: 0 auto;
     padding : 0;
     border : none;
     list-style : none;
     position : relative;
     overflow : visible;
     width:100%;
}
/* slide item */
 .carousel .slides .slideItem {
     position : absolute;
     cursor : pointer;
     overflow : hidden;
     padding : 0;
     margin : 0;
    /*box-shadow:0px 30px 45px 0 #c0bcbc;
    -webkit-box-shadow:0px 30px 45px 0 #c0bcbc;
    */
     border : none;
     width:100px;
}
 .carousel .slides .slideItem a {
     display: block;
     text-decoration : none;
     padding : 0;
     text-align:center;
     color:#2a2733;
     text-transform:uppercase;
     outline : none;
     padding: 0;
         background-color: rgba(255, 255, 255, 1);
    border: 3px solid #276993;
}
 .carousel .slides .slideItem img {
     //border:3px solid #FFF;
}
/*Prev next buttons*/
 .carousel {
     .voc-heading{
         text-align: center;
    }
     .slides-btn{
        /* display: table;
         padding: 0;
        */
         text-align: center;
         margin: 0 auto;
         .prev-slide{
             text-align: right;
             .disable_btn{
                 color:#a7a5a5;
                 pointer-events:none;
                 &:hover{
                     text-decoration: none;
                }
            }
        }
         .next-slide{
             text-align: left;
             .disable_btn{
                 color:#a7a5a5;
                 pointer-events:none;
                 &:hover{
                     text-decoration: none;
                }
            }
        }
         a{
             color: #140101;
             font-size: 16px;
             font-weight: 500;
        }
         i{
             font-size: 17px;
        }
         .buttons{
            /*width: 80%! important;
            */
        }
         p{
             text-align: center;
             font-size: 24px;
             width: 100%;
             margin: 0px;
        }
    }
}
 @media only screen and (max-width: 992px){
     .carousel-outer{
         min-height: 300px;
         position:relative;
         .carousel .slides{
             margin-left: -275px;
             position: absolute;
             left: 50%;
             transform: scale(0.8);
        }
         .carousel .next{
             transform: scale(0.8);
             margin-top: 120px;
        }
         .carousel .prev{
             transform: scale(0.8);
             margin-top: 120px;
        }
         .carousel {
             .slides-btn{
                 margin-top: 295px !important;
                 .col-sm-4{
                     .buttons{
                         width: 100% !important;
                    }
                }
            }
        }
    }
}
 @media only screen and (max-width: 767px){
     .carousel-outer{
         min-height: 300px;
         position:relative;
         .carousel .slides{
             margin-left: -275px;
             position: absolute;
             left: 50%;
             transform: scale(0.6);
        }
         .carousel .next{
             transform: scale(0.6);
             margin-top: -25px;
             display:none;
        }
         .carousel .prev{
             transform: scale(0.6);
             margin-top: -25px;
             display:none;
        }
         .carousel {
             .slides-btn{
                 margin-top: 250px;
                 .col-sm-4{
                     .buttons{
                         width: 100%! important;
                    }
                }
            }
        }
    }
     .carousel .slides-btn a, .carousel .slides-btn .prev-slide .disable_btn {
         font-size: 13px !important;
    }
}
/* _______________________________________________ */
/* DIRECTION BUTTON */
/* _______________________________________________ */
 .carousel .next{
     position : absolute;
     cursor : pointer;
     right : 10px;
     top: 50%;
     transform: translate(0,-50%);
     z-index: 15;
     &:before{
         cursor : pointer;
        /* content: "\f101";
        */
         display: inline-block;
         font: normal normal normal 14px/1 FontAwesome;
         font-size: inherit;
         text-rendering: auto;
         -webkit-font-smoothing: antialiased;
         -moz-osx-font-smoothing: grayscale;
         color: #c2c2c2;
         font-size: 82px;
    }
     .rec fa fa-angle-right{
         font-size: 26px! important;
    }
     i{
         font-size: 89px;
    }
}
 .carousel .prev{
     position : absolute;
     left : 10px;
    /*background : url("../images/prev_button.png");
    */
     cursor : pointer;
     top: 50%;
     transform: translate(0,-50%);
     z-index: 15;
     &:before{
         cursor : pointer;
        /* content: "\f100";
        */
         display: inline-block;
         font: normal normal normal 14px/1 FontAwesome;
         font-size: inherit;
         text-rendering: auto;
         -webkit-font-smoothing: antialiased;
         -moz-osx-font-smoothing: grayscale;
         color: #c2c2c2;
         font-size: 82px;
    }
     .rec fa fa-angle-right{
         font-size: 26px! important;
    }
     i{
         font-size: 89px;
         color:#c9c6c3;
    }
}
/* _______________________________________________ */
/* NAVIGATION BUTTON */
/* _______________________________________________ */
/* buttons container */
 .carousel .buttonNav {
     position : relative;
     margin : 0 auto;
     z-index : 999;
}
/* numbers */
 .carousel .buttonNav .numbers {
     position : relative;
     float : left;
     margin : 5px;
     color : #828282;
     cursor : pointer;
     font-weight : bold;
     text-decoration : none;
     font-size : 1em;
     font-family : Arial, Verdana;
}
 .carousel .buttonNav .numbers:hover {
     color: #000;
     text-decoration : underline;
}
 .carousel .buttonNav .numberActive {
     background : none;
     color : #000;
     cursor : default;
}
/* bullets */
 .carousel .buttonNav .bullet {
     position : relative;
     float : left;
     width : 16px;
     height : 16px;
    /*background : url(../images/Bullet-White.png) no-repeat center;
    */
     margin : 5px;
     float : left;
     cursor : pointer;
}
/*.carousel .buttonNav .bullet:hover {
     background : url(../images/Bullet-Black.png) no-repeat center;
}
*/
 .carousel .buttonNav .bulletActive {
    /*background : url(../images/Bullet-Black.png) no-repeat center;
    */
     cursor : default;
}
/* ____________________________________________________________ */
/* VIDEO */
/* ____________________________________________________________ */
/*.carousel .slides .videoOverlay {
     background : url("../images/video.png") no-repeat center;
     play button 
}
*/
/*.carousel .slides .spinner {
     background : #000 url("../images/loading.gif") no-repeat center;
     video preloader 
}
*/
/* _____________________________ * 
/* SHADOW */
/* _____________________________ */
 .carousel .shadow {
     width : 100%;
     height : 82px;
}
 .carousel .shadow .shadowLeft {
     width : 100px;
     height : 82px;
     &:after{
         content:'<';
    }
}
 .carousel .shadow .shadowMiddle {
     height : 82px;
    /*background: url("../images/shadowTile.png") repeat-x;
    */
}
 .carousel .shadow .shadowRight {
     width : 100px;
     height : 82px;
     &:after{
         content:'>';
    }
}
 .carousel .slides-btn .prev-slide .disable_btn {
     color: #a7a5a5;
     pointer-events: none;
     font-weight: 600;
     color: #98999c;
     font-size: 14px;
     text-transform: uppercase;
}
 .slideItem span {
     padding-top: 5px !important;
     display: block;
     color: #276993 !important;
     font-weight: 400;
     letter-spacing: 0.3px;
     position: absolute;
     z-index: 999999;
     background: #fff;
     width: 97%;
     left: 0;
     right: 0;
     margin: auto;
     box-shadow: 0 1px 1px 0 #ccd9e2;
}
 .carousel-outer .carousel .slides-btn {
     margin-top:96px;
}
/* ____________________________________________________________ */
/* REFLECTION GRADIENT */
/* ____________________________________________________________ */
/* gradient color for Opera */
/*.carousel .gradient {
     background-image : url(../scripts/gradient.svg);
}
*/
