@import"../app.scss";
@import"../../plugin/carousel/carousel.scss";
@import"../custom_template/template/post_footer.scss";

/*voc slider*/
     .voc_section{
         h3{
             background:#276993;
             font-size:32px;
             color:#FFF;
             text-align:center;
             font-weight: bold;
            // font-family: $font-family3-sans-serif;
             padding:15px 0;
             margin-top: 30px;
             margin-bottom:0;
        }
         .inner{
             padding:29px 0 30px;
             background:url(../img/frontend/slider_bg.png);
             overflow: hidden;
             position: relative;
             z-index: 999;
             .padding22{
                 padding:0 22px;
            }
        }
         #bg-shd {
             padding-top:70px;
        }
         .slides-btn{
             margin-top:50px;
        }
    }
    .row.margin0 {
	margin-top: 30px;
}
    
    
    


@media (min-width: 992px) {
    .modal-lg {
        width: 1235px;
    }
}




