body, html{
    font-family: $gothambook;
    padding: 0 !important;
    margin:0;
    background-color:$body-bg;
    height: 100%;
    margin: 0;
}
a:hover, :focus,.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus{
    text-decoration:none !important;
    outline:none!important;
}
ul{
    margin:0;
    padding:0;
}
input[type="text"]:hover, input[type="password"]:hover {
    -webkit-box-shadow:inherit !important;
    box-shadow:inherit !important;
}
/*.main_content{
    margin-top: 44px;
}
.voc-main-content{
    min-height: 100%;
    margin-bottom: -50px;
}
.footer-blue-bg{
    background:$blue-color;
    padding: 8px 0;
    height: 50px;
    margin-top:20px;
    p{
        margin: 0 0 11px;
        margin-bottom: 11px;
        color: #FFF;
        line-height: 30px;
        margin-bottom: 0;
        font-weight: $font-weight;
        text-align: center;
    }
}
.push {
    height: 50px;
}*/

/*@media (min-width:992px) and (max-width:1024px) {
    body .white-bg .header{
        p{
            margin-left: 41px;
            font-size: 23px;
        }
    }
}*/
/*@media screen and (max-width: 767px) {
    .padding0m{
        padding:0;
    }
    footer
    .footer-blue-bg{
        margin-top: 50px;
        clear:both;
    }
    post
    body #pinBoot{
        .eventpost .text .bottom_text{
            width: 83%;
        }
        white-panel{
            left: 0 !important;
            bottom: 0 !important;
            top: 0 !important;
            position:inherit;
            margin-bottom: 20px !important;
        }
    }
}*/
/*@media (min-width: 480px) and (max-width: 767px) {
    .header {
        .header-home-button{
            float:none !important;
        }
        .padding0m{
            text-align: center;
        }
        .float-left {
            float:none!important;
            display: inline-block;
            vertical-align: middle;
        }
        .top_btns{
            text-align:center;
            margin-top: 10px;
            clear: both;
            width: 100%;
            display:inline-block;
            li{
                float:none !important;
                margin-left:0!important;
                display:inline-block;
                text-align:center;
                a{
                    float:none;
                    margin-bottom:10px;
                    float:none;
                    display:inline-block;
                }
            }
        }
    }
}*/
/* General button style (reset) */
/*.btn-white:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
 Button 1b 
.btn-white:after {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: $orange-color;
}
.btn-blue:after {
    background: #276993;
}
.btn-blue:hover {
    border-color: #276993 !important;
}
.btn-white:hover, .btn-white:active {
    color: #fff !important;
}
.btn-white:hover:after, .btn-white:active:after {
    height: 100%;
}*/
/* General button style (reset) */
/*.btn-fill, .btn-orange, .btn-white {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border-radius: 0;
    text-transform: uppercase;
    background: none;
    cursor: pointer;
    padding: 7px 20px;
    display: inline-block;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.btn-fill:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    height: 100%;
}
 Button 1b 
.btn-fill{
    border:2px solid #276993;
    font-weight:$font-weight;
    color:#FFF;
}
.btn-fill:after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:$blue-color;
}
.btn-fill:hover, .btn-fill:active {
    color: #276993 !important;
}
.btn-fill:hover:after, .btn-fill:active:after {
    height:0;
}
.btn-orange{
    color: #FFF;
    padding: 7px 20px;
    float: left;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 0;
    font-size: 14px;
    letter-spacing: 0.7px;
    border: 2px solid $light-orange;
    position:relative;
    z-index:1;
}
.btn-orange:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    height: 100%;
}*/
/* Button 1b */
/*.btn-orange:after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:$light-orange;
}
.btn-orange:hover, .btn-orange:active {
    color: $light-orange !important;
}
.btn-orange:focus {
    color: #FFF !important;
    background: $light-orange;
}
.btn-orange:hover:after, .btn-orange:active:after {
    height:0;
}
.btn-white-btn{
    color: $light-orange;
    padding: 7px 20px;
    float: left;
    text-transform: uppercase;
    font-weight: 500;
    float:none;
    height: 51px;
    border-radius: 0;
    font-size: 14px;
    letter-spacing: 0.7px;
    border: 2px solid $light-orange;
    position:relative;
    z-index:1;
}
.btn-white-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    height: 100%;
}*/
/* Button 1b */
/*.btn-white-btn:after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:#FFF;
}
.btn-white-btn:hover, .btn-white-btn:active {
    color: $light-orange !important;
}
.btn-white-btn:hover:after, .btn-white-btn:active:after {
    height:0;
}
.btn-big1{
    color: #FFF;
    padding: 7px 20px;
    float: left;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 0;
    font-size: 14px;
    letter-spacing: 0.7px;
    border: 2px solid $orange-color;
}
.btn-big1:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    height: 100%;
}*/
/* Button 1b */
/*.btn-big1:after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:$orange-color;
}
.btn-big1:hover, .btn-big1:active {
    color: $light-orange !important;
}
.btn-big1:hover:after, .btn-big1:active:after {
    height:0;
}*/
@media (min-width:1280px) and (max-width:1920px) {
    .blinking1{
        animation:blinkingText1 6s infinite;
    }
    @keyframes blinkingText1{
        0%{
            color: #df1d2d;
        }
        49%{
            color: transparent;
        }
        50%{
            color: $light-orange;
            font-size:28px;
        }
        99%{
            color:#276993;
            font-size:30px;
        }
        100%{
            color: #df1d2d;
            font-size:32px;
        }
    }
    .blinking{
        animation:blinkingText 6s infinite;
    }
    @keyframes blinkingText{
        0%{
            color: #000;
        }
        49%{
            color: transparent;
        }
        50%{
            color: $light-orange;
            font-size:28px;
        }
        99%{
            color:#276993;
            font-size:30px;
        }
        100%{
            color: #000;
            font-size:32px;
        }
    }
}

/*.btn-blue-border{
    color: $blue-color;
    font-size: 18px;
    font-family: $font-family4-sans-serif;
    border: 2px solid $blue-color;
    display: inline-block;
    position: relative;
    margin: 55px auto 0;
    padding: 12px 50px 8px 50px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: inherit;
}
.btn-blue-border:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    height: 0;
    width: 100%;
    top: 0;
    left: 0;
    background:$blue-color;
}
.btn-blue-border:hover, .btn-blue-border:active {
    color: #fff !important;
}
.btn-blue-border:hover:after, .btn-blue-border:active:after {
    height: 100%;
}*/
/*form elements*/
.form-group {
    text-align: left;
    margin-bottom: 30px;
    label{
        font-family: "gotham-bold", Arial, sans-serif;
        text-transform: uppercase;
        font-size: 13px;
    }
}
.form-input {
    background: #fff;
    border: 1px solid $standard-black !important;
    height: 45px;
    border-radius: 0;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    padding: 5px 12px;
    color: $standard-black;
    /*    &::-webkit-input-placeholder {
            font-family: $gothambold;
            text-transform:uppercase;
            font-size: 13px;
            color: $standard-black;
        }
        &:-ms-input-placeholder {
            font-family: $gothambold;
            text-transform:uppercase;
            font-size: 13px;
            color: $standard-black;
        }
        &::-ms-input-placeholder {
            font-family: $gothambold;
            text-transform:uppercase;
            font-size: 13px;
            color: $standard-black;
        }
        &::placeholder {
            font-family: $gothambold;
            text-transform:uppercase;
            font-size: 13px;
            color: $standard-black;
        }*/
}
.form-input:focus, .form-control:focus{
    background: #FFF !important;
    background: #FFF !important;
    border:1px solid $light-orange !important;
}
.form-input-line{
    border: 0;
    border-bottom: 1px solid #1d1d1b;
    background: inherit; 
    font-family: $gothambold;
    text-transform:uppercase;
    font-size: 13px;
    &::-webkit-input-placeholder {
        font-family: $gothambold;
        text-transform:uppercase;
        font-size: 13px;
        color: $standard-black;
    }
    &:-ms-input-placeholder {
        font-family: $gothambold;
        text-transform:uppercase;
        font-size: 13px;
        color: $standard-black;
    }
    &::-ms-input-placeholder {
        font-family: $gothambold;
        text-transform:uppercase;
        font-size: 13px;
        color: $standard-black;
    }
    &::placeholder {
        font-family: $gothambold;
        text-transform:uppercase;
        font-size: 13px;
        color: $standard-black;
    }
}
.btn-default-black{
    border: 2px solid $standard-black;
    background-color: inherit;
    font-family: "gotham-bold", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    padding: 8px 80px;
    border-radius: 0;
    color:$standard-black;
    &:hover{
        border: 2px solid $orange-color;
        color: $orange-color;
    }
}
/*label{
    color:$text-color;
    font-size:19px;
    text-align:left;
    font-weight:$font-weight;
}*/
/*input[type=submit] {
    width: 100%;
    display: block;
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: $light-orange;
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
}
input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
input[type=submit]:hover {
     border: 1px solid #2f5bb7;
    
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
     background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#357ae8));
    
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    border-radius: 0;
    background: #eaeef1;
    border:2px solid #eaeef1;
    height: 51px;
    border-radius: 2px;
    border: inherit !important;
    outline: inherit;
    box-shadow: inherit;
    width:100%;
}
input[type=submit] {
    text-align: center;
    float:none;
    height: 51px;
    padding: 13px 45px;
}*/
/*Errors*/
.alert-error{
    background-color: #f2dede;
    padding: 7px 15px;
    color: #a94442;
    text-align: left;
}
.form-response.success{
    background-color: #dff0d8;
    padding: 7px 15px;
    color: #333;
}
.form-response.error{
    background-color: #f2dede;
    padding: 7px 15px;
    color: #a94442;
}
/*END*/
/*Voc single css*/
/*#voc-single-modal{
    .footer-white-bg .p-top p{
        margin: 0;
    }
    .modal-dialog{
        width:90%;
        margin: 0 auto;
    }
    .modal-header{
        padding:0;
        position:relative;
        z-index:2;
        .custom-close{
            opacity: 1;
            position:absolute;
            right: 18px;
            top: 20px;
            z-index:2;
            span{
                width: 29px;
                border-radius: 50%;
                color: #333;
                opacity: 1;
                display: inline-block;
                border: 2px solid;
                line-height: 19px;
                height: 29px;
                padding: 2px;
                background: white;
            }
        }
    }
}*/
/*END*/
/*Voc Posts Mini*/
/*#vocPostMini{
    .modal-header{
        padding: 0px;

    }
    .modal-content{
        border-radius:0;
    }
    .modal-body{
        padding: 0px;
        .col-sm-12 > div {
            box-shadow: none;
        }
    }

    .communication-box{
        padding-top: 0px;
        position: relative;
        padding:15px 15px 0 15px;
    }
    .col-sm-12.footer-icons {  
        margin-top: 18px;
        padding: 0;
        p {
            color: #2a2733 !important;
        }
        .icons{
            padding: 0 19px;
            a{
                width:30px;
                height:30px;
                text-align:center;
                background:#2a2733;
                line-height:30px;
                float:left;
                margin-right:7px;
                color:#FFF; padding-right:0;
                cursor:pointer;
                background:#121212;
                i{
                    color:#FFF;
                }
                &:focus, &:hover{
                    background:#276993; color:#FFF;
                }
            }



        }
        .col-sm-12.links {
            background: #ededed;
            padding:10px 19px 25px !important;
            margin-top: 20px;
            a{

                &:hover{
                    opacity:0.75;
                }
            }
            .fa-facebook{
                width:30px;
                height:30px;
                line-height:30px;
                text-align:center;
                background:#3b5999;
                margin-right:7px;
                color:#FFF;
                cursor:pointer;
            }
            .fa-linkedin{
                width:30px;
                height:30px;
                line-height:30px;
                text-align:center;
                background:#027ab6;
                margin-right:7px;
                color:#FFF;
                cursor:pointer;
            }
            .fa-twitter{
                width:30px;
                height:30px;
                line-height:30px;
                text-align:center;
                background:#31aae3;
                margin-right:7px;
                color:#FFF;
                cursor:pointer;
            }
            .fa-google-plus{
                width:30px;
                height:30px;
                line-height:30px;
                text-align:center;
                background:#dc4937;
                margin-right:7px;
                color:#FFF;
                cursor:pointer;
            }
            .fa-pinterest-p{
                width:30px;
                height:30px;
                line-height:30px;
                text-align:center;
                background:#cc2129;
                margin-right:7px;
                color:#FFF;
                cursor:pointer;
            }

            .fa-instagram{
                width:30px;
                height:30px;
                line-height:30px;
                text-align:center;
                background:#5280a4;
                margin-right:7px;
                color:#FFF;
                cursor:pointer;
            }
            .fa-youtube{
                width:30px;
                height:30px;
                line-height:30px;
                text-align:center;
                background:#ca322d;
                margin-right:7px;
                color:#FFF;
                cursor:pointer;
            }
        }
    }
    .footer-icons .col-sm-12, .footer-icons .col-sm-12 a {
        float: left;
        padding: 0 6px 0 0;
    }
    .close {

        font-size: 20px;

        color: $light-orange;

        opacity: 1;

        z-index: 9999999999 !important;

        position: absolute;
        right: 0;
        text-shadow: inherit !important;
        background: #FFF;

        width: 26px;
        height: 26px;

        line-height: 26px;

    }
}
.category-visited{
    background-color: #cc1f1c;
}*/
//END 
/*Vocminipopup*/
.tooltip-inner {
    background-color: $light-orange !important;
    color: #fff;
    text-transform: uppercase;
}
.tooltip.bottom  .tooltip-arrow {
    border-bottom-color: $light-orange;
}
.orange-color{
    color:$orange-color !important;
}
.standard-black{
    color:$standard-black !important;
}
.voc-empty-message{
    margin: 0 15px;
    background: #fff1f0;
    text-align: center;
    padding: 50px 15px 40px 15px;
    font-family: $otamasemibold;
    font-size: 24px;
    line-height: 24px;
    a{
        color:$orange-color;
        &:focus, &:hover{
            color:$orange-color;
        }
    }
}
#category-outer-popup, #follow-outer-popup{
    nav{
        h2{
            font-family: $otamabold;
            font-size: 30px;
            line-height: 30px;
            margin-bottom: 50px;
        }
        ul{
            -moz-column-count: 3;
            -webkit-column-count: 3;
            column-count: 3;
            width: 100%;
            margin-bottom: 50px;
            @media (max-width: 767px){
                -moz-column-count: 2;
                -webkit-column-count: 2;
                column-count: 2;   
            }
            @media (max-width: 400px){
                -moz-column-count: 1;
                -webkit-column-count: 1;
                column-count: 1;   
            }
            li{
                height: auto;
                min-height: auto;
                a{
                    font-family: $gothambold;
                    text-transform: uppercase;
                    font-size: 13px;
                    padding: 10px 0px;
                }
            }
        }
    }
}
#toast-container{
    top: 50px;
    .toast-success{
        box-shadow: none;
        padding: 10px 15px 10px 50px;
        opacity: 1;
    }
}