// Body
$body-bg: #e8eff5;

// Typography
$fa-font-path: "/fonts/vendor/font-awesome/";
$icon-font-path: "/fonts/vendor/bootstrap-sass/bootstrap/";

//$font-family-sans-serif: 'Raleway', sans-serif;
//$font-family2-sans-serif: 'Playfair Display', serif;
//$font-family3-sans-serif: 'Poppins', sans-serif;
//$font-family4-sans-serif: 'standing_room_only_nfregular';

$gothambook: 'gothambook', Arial, sans-serif;
$gothambold: 'gotham-bold', Arial, sans-serif;
$otamaregular: 'Otama-regular', Arial, sans-serif;
$otamabold: 'Otama-bold', Arial, sans-serif;
$otamasemibold: 'Otama-semibold', Arial, sans-serif;

$font-size-base: 14px;
$font-size-medium: 15px;
$font-size-semi: 16px;
$line-height-base: 1.6;
$text-color: #2a2733; 
$red-color:#df1d2d;
$blue-color:#276993;
$light-orange:#ee5826; 
$font-weight: 500;
$letter-spacing: 0.7px;    


$standard-black: #1d1d1b;
$light-red: #fff1f0;
$orange-color: #ea5715; 
$white-color:#FFF;
