@import "app.scss";
//@import "../user/user.scss";
@import "custom_template/template/post_footer.scss"; 

.voc-main-content{
    margin: 0;
}
.main_content{
    padding: 0;
}
.hero-image{
    background-image: url('../img/frontend/about_hero.jpg');
    height: 54vh;
    min-height: 350px;
    position: relative;
    background-position: center bottom;
    background-size: cover;
    .col-sm-12{
        position: static;
    }
    .desc{
        padding-top: 75px;
        padding-left: 0;
        padding-right: 0;
      //  font-family: $font-family3-sans-serif;
        color: #2a2733;
        font-size: 32px;
        font-weight: 600;
        line-height: 41px;
        span{
            color:$blue-color;
        }
        @media only screen and (max-width: 767px){ 
            padding-top: 25px;
        }
    }
    .tagline{
        position: absolute;
        bottom: 0;
        right: 0;
        color: $blue-color;
        background: rgba(255, 255, 255, 0.5);
        padding: 2px 25px 0px 25px;
        font-size: 20px;
        p{
            margin: 0;
            //font-family: $font-family4-sans-serif;
            font-size: 25px;
        }
    }
}
.campaign-box{
    margin-top: 80px;
    margin-bottom: 50px;
    .row{
        display: flex;
        @media only screen and (max-width: 767px){ 
            display: block;
        }
    }
    .campaign-prizes{
        background: $white-color;
        padding: 25px 50px 35px 50px;
        .heading{
            .fa-hand-o-right{
                font-size: 75px;
                color: $light-orange;
                padding-top: 20px;
            }
            h2{
                text-transform: uppercase;
                font-size: 35px;
                font-weight: 700;
                margin-left: 95px;
                span{
                    color: $light-orange;  
                    font-size: 90%;
                }
            }
            margin-bottom: 25px;
        }
        .prizes-points{
            font-size: 23px;
            font-weight: 500;
            margin-bottom: 70px;
            li{
                .fa{
                    padding-right: 10px;
                    color: $light-orange;  
                }
            }
        }
        .prizes-list{
            margin: 0 -10px;
            .prize{
                width:20%;
                float:left;
                padding: 0 10px;
                @media only screen and (max-width: 991px){ 
                    width:50%;
                }
                h5{
                    color: #98999c;
                }
            }

        }
    }   
    .campaign-form{
        padding: 80px 20px 35px 20px;
        background: #cce3f3;
        .heading{
            text-align: center;
            margin-bottom: 20px;
            .fa-trophy{
                font-size: 80px;
                color: $light-orange;
            }
            h3{
                text-transform: uppercase;
                font-size: 24px;
                font-weight: 600;
                margin-top: 15px;
            }
            small{
                color: #e44e40;
                font-size: 13px;
                font-weight: 600;
            }
        }
        .options{
            text-align: center;
            margin-top: 20px;
            float: left;
            h4{
                font-size: 18px;
                font-weight: 500;
                line-height: 23px;
            }
            small{
                color: #e44e40;
                font-size: 13px;
                font-weight: 600;
            }
        }
    }
}
.other-features{
    .row{
        display: flex;
        @media only screen and (max-width: 767px){ 
            display: block;
        }
    }
    .learn-more{
        padding: 120px 50px 120px 50px;
        background: $light-orange;
        font-size: 23px;
        font-weight: 500;
        color: $white-color;
        text-align: center;
        h2{
           // font-family: $font-family4-sans-serif;
            color: $white-color;
            font-size: 32px;
            text-transform: uppercase;
            margin-bottom: 62px;
            text-align: center;
        }
        p{
            a{
                color: $white-color;
                font-size: 20px;
               // font-family: $font-family4-sans-serif;
                border-bottom: 2px solid $white-color;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
    }
    .social-sites{
        padding: 120px 50px 203px 50px;
        background: $white-color;
        font-size: 23px;
        font-weight: 500;
        color: $light-orange;
        text-align: center;
        h2{
           // font-family: $font-family4-sans-serif;
            font-size: 32px;
            text-transform: uppercase;
            margin-bottom: 62px;
            text-align: center;
        }
        ul{
            li{
                padding: 0 12px;
                a{
                    i {
                        color: $text-color;
                        font-size: 55px;
                    }   
                }
            }
        }
        .telegram-icon{
            width: 47px;
            height: 47px;
            background: #2a2733;
            display: inline-block;
            border-radius: 50%;
            vertical-align: text-bottom;
            line-height: 49px;
            .fa-paper-plane{
                color: #fff;
                font-size: 24px;
                margin-left: -2px;
                transform: rotate(10deg);
            }
        }
        .discord-img{
            vertical-align: bottom;
        }
    }
}
.platform{
    margin-top: 50px;
    .row{
        display: flex;
        @media only screen and (max-width: 767px){ 
            display: block;
        }
    }
    .image{
        padding: 0;
        background: #fff;
        img{
            width: 100%;
        }
    }
    .vocit-video{
        iframe{
            max-width: 100%;
        }
    }
    @media only screen and (min-width: 768px){ 
        .vocit-video{
            position: relative;
            iframe{
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
                width: 100%;
            }
        }
    }
    .description{
        background: $white-color;
        padding: 25px 50px 50px 50px;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        h2{
            font-weight: 600; 
            margin-bottom: 30px;
            text-align: left;
            @media only screen and (max-width: 992px){ 
                margin-bottom: 5px;
            }
        }
        p{
            text-align: left;
        }
        @media only screen and (max-width: 992px){ 
            .btn-blue-border{
                margin-top: 0;
            }
        }
    }
}
.platform.reward-tokens{
    .description{
        .btn-blue-border{
            padding: 12px 28px 8px 28px;
        }
    }
    .image{
        @media only screen and (min-width: 768px){ 
            position: relative;
            ul{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 320px;
                li{
                    float: left;
                    img{
                        width: auto;
                    }
                }
            }
        }
        @media only screen and (max-width: 767px){ 
            text-align: center;
            padding: 0px 0 50px 0;
        }
    }
}
#kol_embed_container_216774{
    background: inherit;
    width: 100% !important;
    .inputs {
        border-radius: 0;
        background: #eaeef1;
        border: 2px solid #eaeef1;
        height: 51px;
        border-radius: 2px;
        outline: inherit;
        -webkit-box-shadow: inherit;
        box-shadow: inherit;
    }
    #kol-form-submit-button.kol-form-button{
        color: #FFF !important;
        float: left;
        text-transform: uppercase !important;
        font-weight: 500;
        border-radius: 0;
        font-size: 14px !important;
        letter-spacing: 0.7px;
        border: 2px solid #ee5826 !important;
        position: relative;
        z-index: 1;
        height: 51px !important;
        padding: 13px 45px;
        font-family: 'Raleway', sans-serif;
        background-color: #ee5826 !important;
    }
}
.vex-content{
    background: #fff !important;
}
#kol_confirmation_success{
    .kol_confirmation_message_wrapper{
        font-family: 'Raleway', sans-serif;
        font-size: 17px !important;
        line-height: 22px !important;
        .kol_confirmation_message{
            p{
                span{
                    font-size: 17px !important;
                    line-height: 22px;
                }
            }
        }
    }
}