// Fonts
/*@import url("https://fonts.googleapis.com/css?family=Raleway:100,400,500,600,600i,700,800");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,400,500,600,600i,700,800");*/

@font-face {
  font-family: 'Otama-regular';
  src: url('../fonts/otamaregular/otamaregular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/otamaregular/otamaregular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/otamaregular/otamaregular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/otamaregular/otamaregular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/otamaregular/otamaregular.svg#otamaregular') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Otama-bold';
  src: url('../fonts/otamabold/otamabold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/otamabold/otamabold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/otamabold/otamabold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/otamabold/otamabold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/otamabold/otamabold.svg#otamabold') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Otama-semibold';
  src: url('../fonts/otamasemibold/otamasemibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/otamasemibold/otamasemibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/otamasemibold/otamasemibold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/otamasemibold/otamasemibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/otamasemibold/otamasemibold.svg#otamasemibold') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'gothambook';
  src: url('../fonts/gothambook/gothambook.eot'); /* IE9 Compat Modes */
  src: url('../fonts/gothambook/gothambook.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/gothambook/gothambook.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/gothambook/gothambook.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'gotham-bold';
  src: url('../fonts/gotham/gotham-bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/gotham/gotham-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/gotham/gotham-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/gotham/gotham-bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Font Awesome
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

/*@font-face {
    font-family: 'standing_room_only_nfregular';  
    src: url('../fonts/standingroomonlynf.woff2') format('woff2'),
         url('../fonts/standingroomonlynf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/

// Global
@import "_global.scss";
@import "footer.scss";
@import "header.scss";
@import "login.scss"; 