/*footer*/
.footer-blue-bg{    
    background:#fff;    
    padding: 25px 0;
    margin-top:30px;
    color: $standard-black;
    p{
        margin-bottom: 0;
        text-align: right;  
        font-family: $gothambold;
        text-transform:uppercase;
        font-size: 13px;
    }
    ul{
        li{
            &:first-child{
                padding-left: 0;
            }
            a{
                font-family: $gothambold;
                text-transform:uppercase;
                font-size: 13px;
                color: $standard-black;
            }
        }
    }
}

@media screen and (max-width: 458px) {  
    .footer-blue-bg{ 
        p{
            text-align: left;
            margin-top: 10px;
        }
        .col-xs-6{
            width:100%;
        }
    }
}
