/* Header Styles*/
/*body .white-bg {
    background-color:$header-bg;
    padding:15px 0;
    height: 91px;
    box-shadow:4px 4px 7px 2px #d1dfe9;
    border-top:8px solid #276993;
    position:relative;
    z-index:999;
    .header {
        .float-left {
            float: left;
        }
        .logo {
            a{
                float:left;
            }
        }
        p{
            font-size: 25px;
            color: #000000;
            font-family:$font-family2-sans-serif;
            margin-left:121px;
            font-weight:600;
            font-style:italic;
            span{
                color: $light-orange;
            }
        }
        .header-home-button {
            margin-top:4px;
            .top_btns{
                li{
                    float:left;
                    list-style:none;
                    position:relative;
                    margin-left:10px;
                    padding-bottom:20px;
                    a{
                        color:$white-color;
                        padding:7px 20px;
                        float:left;
                        text-transform:uppercase;
                        font-weight:$font-weight;
                        border-radius:0;
                        margin-bottom: 0 !important;
                        font-size:$font-size-base;
                        letter-spacing:$letter-spacing;
                        border:2px solid $blue-color;
                    }
                    a.dropdown-toggle{
                        background-image:url(../img/frontend/drop_down.png);
                        background-repeat:no-repeat;
                        background-position:89% 47%;
                        background-color:#276993;
                        color:#FFF;
                        padding-right: 40px !important;
                        text-overflow: ellipsis;
                        max-width: 180px;
                        white-space: nowrap;
                        overflow: hidden;
                        min-width: 127px;
                        text-align: left;
                    }
                    a.login_btn{
                        border:2px solid $light-orange;
                    }
                    a.learnmore{
                        background:inherit;
                        border:2px solid $light-orange;
                        color:$light-orange;
                        padding:7px 20px;
                    }
                }
                .dropdown:hover .dropdown-menu{
                    display:block !important;
                }
                .dropdown-menu{
                    margin-top:1px;
                    padding-top:0;
                    min-width:inherit !important;
                    max-width:100% !important;
                    width:100% !important;
                    display: none;
                    top:67% !important;
                    border-radius:0;
                    background:inherit !important;
                    box-shadow: inherit!important;
                    border:inherit!important;
                    li{
                        margin-bottom:2px;
                        width:100%;
                        padding:0 !important;
                        float:none;
                        margin-left:0 !important;
                        a{
                            background:rgba(39, 105, 147, 0.55);
                            width:100%;
                            color:#FFF!important;
                            float:none;
                        }
                    }
                }
            }

        }
    }
}*/
/*end*/
/*@media (min-width:992px) and (max-width:1024px) {
    body .white-bg {
        .header p {
            font-size: 25px;
            color: #000000;
            font-family: "Playfair Display", serif;
            margin-left: 61px;
        }
    }
}
@media (min-width:992px) and (max-width:1024px) {
    body .white-bg .header{
        p{
            margin-left: 41px;
            font-size: 23px;
        }
    }
}*/
/*admin header*/
/*@media (min-width:1024px) and (max-width:1250px) {
    body .nav_bar{
        margin-left:10px;
        li{
            float: left;
            margin-left:15px;
            margin-right:15px;
            list-style: none;
            a{
                font-size: 15px;
            }
        }
    }
}*/
/*admin header*/
/*@media (min-width: 768px) and (max-width:1023px) {
    .header-home-button{
        clear: right;
        .top_btns{
            li{
                padding-bottom:10px !important;
            }
        }
    }
    body .white-bg{
        height:auto;
    }
    body .nav_bar{
        float: right;
        margin-left: 0;
        li{
            float: left;
            margin-left: 10px;
            margin-right: 10px;
            list-style: none;
            a{
                font-size: 15px;
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    body .white-bg .header {
        .top_btns{
            margin-top: 4px;
            li{
                a{
                    font-size: 13px !important;
                    padding: 6px 8px !important;
                    margin-bottom: 0 !important;
                }
            }
        }
        p{
            margin-top: 8px;
            font-size: 17px;
            margin-left: 0;
        }
    }
}*/
/*header*/
@media screen and (max-width: 767px) {
    /*    body .white-bg {
            height:auto;
            .header {
                .float-left{
                    float: none;
                    width: 100%;
                    text-align: center;
                    display: block;
                    clear: both;
                }
                .logo{
                    a{
                        float:none;
                    }
                }
                p {
                    margin-left:0;
                    font-size: 22px;
                    margin-top: 12px;
                }
                .header-home-button{
                    float:none !important;
                    clear:both;
                    .top_btns {
                        li{
                            margin-left: 0;
                            float:none;
                            a{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }*/
    /*admin header*/
    /*    body .nav_bar{
            float:none;
            margin-left: 0;
            width:100%;
            text-align:center;
            li{
                margin-left:3px;
                margin-right:3px;
                display: inline-block;
                float:none;
                a{
                    font-size: 13.6px;
                }
            }
        }
        .header-home-button{
            .top_btns{
                li{
                    padding-bottom:10px;
                }
            }
        }
        .padding0m{
            padding:0;
        }*/
}
/*@media (min-width: 480px) and (max-width: 767px) {
    body .white-bg .header .header-home-button .top_btns .dropdown-menu{
        top: 42px!important;
        background:#FFF;
        li{
            a{
                margin-bottom: 0 !important;
            }
        }
    }
    .header {
        .header-home-button{
            float:none !important;
        }
        .padding0m{
            text-align: center;
        }
        .float-left {
            float:none!important;
            display: inline-block;
            vertical-align: middle;
        }
        .top_btns{
            text-align:center;
            margin-top: 10px;
            clear: both;
            width: 100%;
            display:inline-block;
            li{
                float:none !important;
                margin-left:0!important;
                display:inline-block;
                text-align:center;
                a{
                    float:none;
                    float:none;
                    margin-bottom: 0 !important;
                    display:inline-block;
                }
            }
        }
    }
}
@media (min-width: 320px) and (max-width: 479px) {
    header
    body .white-bg .header .header-home-button .top_btns .dropdown-menu{
        top: 42px!important;
        margin-top: 0 !important;
        li{
            min-height:inherit;
            display: block;
            padding-bottom: 0 !important;
            a{
            }
        }
    }
    body .white-bg .header .header-home-button .top_btns li{
        padding-bottom:10px !important;
    }
    body .white-bg {
        .header {
            .header-home-button{
                float:none !important;
            }
            .top_btns{
                text-align:center;
                li{
                    float:none !important;
                    margin-left:0!important;
                    display: block;
                    text-align:center;
                    min-height:51px;
                    display: block;
                    a{
                        float:none;
                        width: 100%;
                    }
                    a.signup_btn{
                        background-position: 94% center!important;
                    }
                }
            }
        }
    }
}
admin header
.nav_bar{
    float:left;
    margin-left: 20px;
    li{
        float:left;
        margin-left:15px;
        margin-right:15px;
        list-style:none;
        a{
            font-size: 16px;
            text-transform:uppercase;
            font-weight:600;
            line-height: 47px;
        }
    }
}*/


//HEADER
header{
    .header-box{
        margin-top: 20px;
        margin-bottom: 20px;
        @media (max-width: 768px) {
            padding: 0;
        }
        .logo-box{
            display: inline-block;
        }
        .top_btns{
            display: inline-block;
            & > li > a{
                padding: 2px 10px;
                display: inline-block;
                font-family: $gothambold;
                text-transform:uppercase;
                font-size: 13px;
                color: $standard-black;
            }
            .line-seprater{
                border-left: 1px solid $standard-black;
                padding-right: 0;
                a{
                    padding-right: 0;
                }
            }
            .dropdown-menu{
                left: 2px;
                min-width: 140px;
                border-radius: 0;
                background-color: $body-bg;
                border: 0;
                border-bottom: 2px solid $orange-color;
                padding: 0;
                li a{
                    padding: 6px 20px;
                    font-size: 13px;
                    &:hover, &:focus{
                        background: $light-red;
                    }
                }
            }
            .signup_btn{
                padding-right: 3px;
                span{
                    background: url(../img/frontend/symbols.png) no-repeat;
                    background-position: -20px -6px;
                    width: 16px;
                    height: 15px;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
        .nav_bar{
            display: inline-block;
            border-right: 1px solid $standard-black;
            & > li > a{
                padding: 2px 10px;
                display: inline-block;
                font-family: $gothambold;
                text-transform:uppercase;
                font-size: 13px;
                color: $standard-black;
            }
        }
    }
}