#login-outer-popup, #forgot-outer-popup{
    .login-content{
        float: none;
        margin: 0 auto;
        @media (max-width: 400px) {
            padding: 0;
        }
        .head{
            float: none;
            margin: 0 auto;
            background-color: $light-red;
            text-align: left;
            margin-bottom: 30px;
            h3{
                font-family: $otamabold;
                font-size: 30px;
                line-height: 30px;
                margin: 0;
                padding: 11px 10px 5px 10px;
            }
        }
        .login-form{
            width: 80%;
            margin: 0 auto;
            @media (max-width: 400px) {
                width: 95%;
            }
            .continue-button{
                text-align: left;
                margin-top: 10px;
                .btn-default-black{
                    margin-bottom: 30px;
                }
                .links{
                    font-family: "gotham-bold", Arial, sans-serif;
                    text-transform: uppercase;
                    font-size: 11px;
                    a{
                        color: $standard-black; 
                        &:hover,&:focus{
                            color: #ea5715; 
                        }
                    }
                }
            }
        }
    }
}