@import"app.scss";
@import"../plugin/carousel/carousel.scss";
@import"../plugin/scale-overlay.scss";
a:hover{
    text-decoration:none;
}
.container.sign-up{
    margin-top: 10px;
    margin-bottom: 100px;  
}
.signup_page{
    .signup_user{
        background:$white-color;
        display: table-cell;
        vertical-align: middle;
        padding:145px 16px !important;
        height: auto !important;
        text-align:center;
        width:50%;
        border-right: 1px solid #ea5715;
        h2{
            font-family:$otamabold;
            color:$standard-black;
            font-size:32px;
            margin-bottom:40px;
            text-align:center;
            margin-top: 0;
        }
        p{
            color:$standard-black;
            font-size: 21px;
            font-family: $otamasemibold;
            margin-bottom: 50px;
        }
        .innerdata {
            position:relative;
            width:100%;
        }
    }
    .signup_user.intro {
        height: auto !important;
    }
    .parent {
        display: table;
        width: 100%;
    }
    .signupcompany{
        background:#FFF;
        vertical-align: middle;
        display: table-cell;
        padding:55px 16px !important;
        text-align:center;
        border-left: 1px solid #ea5715;
        .inner {
            position:relative;
            width:100%;
            height:auto !important;
        }
        h2{
            font-family:$otamabold;
            color:$standard-black;
            font-size:32px;
            margin-bottom:40px;
            text-align:center;
            margin-top: 0;
        }
        p{
            color:$standard-black;
            font-size: 21px;
            font-family: $otamasemibold;
            margin-bottom: 50px;
        }
    }
    #carousel{
        padding:0 33px;
    }
}
#createVocDex, #storeVocDexSubCategory, #createVoc, #vocProfile, #voc-category-form, #template {
    padding: 34px;
}
.create-voc {
    padding-top: 0 !important;
}
.userform {
    position: inherit!important;
    width: 100%;
    height: auto !important;
    top: inherit!important;
    left: inherit!important;
    z-index: 999;
    background: #FFF;
    h4{
        font-family:$otamabold;
        color: #1d1d1b;
        font-size: 29px;
    }
    /*    input[type=submit] {
            text-align: center;
            float:none;
            height: 51px;
            padding: 13px 45px;
        }
        .form-input:focus, .form-control:focus{
            background: #FFF !important;
            background: #FFF !important;
            border:2px solid $light-orange !important;
        }*/
    .margin-set{
        margin-right:20px;
    }
    .continue-button{
        margin-top:10px;
        .btn-orange{
            float:none;
        }
    }
}
.vocformdiv {
    position: inherit !important;
    width: 100%;
    height: auto !important;
    top: inherit !important;
    left: inherit !important;
    z-index: 999;
    /*background: $light-orange;*/
    h4{
        font-family: $otamabold;
        color: #1d1d1b;
        font-size: 29px;
    }
    /*    input[type=submit] {
            text-align: center;
            float:none;
            height: 51px;
            padding: 13px 45px;
        }
        .form-input{
            background:#fff;
        }
        .form-input:focus, .form-control:focus{
            background: #FFF !important;
            background: #FFF !important;
            border:2px solid #faaca3 !important;
        }*/
    .margin-set{
        margin-right:20px;
    }
    .continue-button{
        margin-top:10px;
        .btn-orange{
            float:none;
        }
    }
    #storeRecommendedVocs-form {
        width: 518px !important;
        .slides {
            overflow: hidden;
            position: initial;
            height: 271px !important;
        }
        .slideItem {
            position: absolute;
            cursor: pointer;
            overflow: hidden;
            padding: 0;
            border: none;
            width: 100px;
            left: 0 !important;
            right: 0 !important;
            margin: auto !important;
            padding: 0 5px;
        }
    }
}
.card-header{
    float: none;
    text-transform: uppercase;
    border: 1px solid #eb6050;
    display: inline-block;
    text-align: center;
    color: #FFF;
    text-decoration: none !important;
    margin-bottom: 10px;
    background: $light-orange;
    letter-spacing: 0;
    font-weight: 500;
    border-radius: 0;
    margin-right: 12px;
    width: 46%;
    float: none;
    input{
        display: none;
    }
    a{
        text-align: center;
        color: #FFF;
        z-index: 9999;
        width: 100%;
        display: block;
        padding: 13px 19px;
        float: left;
    }
    .btn:active, .btn.active {
        box-shadow:inherit !important;
    }
    a.category-visited{
        background: $orange-color;
    }
}
#templateModal{
    padding:34px;
    .templates{
        margin: 0 -10px;
        .each-template{
            float: left;
            width: 50%;
            position: relative;
            padding: 0 10px;
            img{
                width: 100%;
                max-height:160px;
                cursor: pointer;
            }
            .success-tick{
                position: absolute;
                cursor: pointer;
                bottom: 10px;
                right: 22px;
                width: 25px;
                height: 25px;
                background-color: #5cb85c;
                font-size: 17px;
                border-radius: 50%;
                text-align: center;
                line-height: 26px;
                color: #fff;
                display:none;
            }
        }
    }
    .each-template.success .success-tick{
        display:block;
    }
    .continue-button {
        margin-top: 50px;
        margin-bottom: 30px;
    }
}
#topicModal{
    .continue-button{
        margin-top: 15px;
    }
}
#siteBuilerForm input[type="file"] {
    display: block;
    height: auto;
    color:#fff;
    padding: 0;
}
#storeRecommendedVocs-form {
    .carousel .slides .slideItem {
        position: inherit;
        cursor: pointer;
        overflow: hidden;
        padding: 0;
        margin: 0;
        border: none;
        width: 50%;
        float: left;
        box-shadow: 4px 4px 7px 2px #d1dfe9;
        margin: 0 5px;
        width: calc(50% - 10px);
        span{
            background: $light-orange;
            color: #fff !important;
            width: 100%;
            padding-top: 2px !important;
            padding-bottom: 3px;
        }
        img {
            padding-top: 27px;
            width: 100%;
            border-bottom: 0;
            height: 247px;
        }
        .actions{
            padding: 5px;
            width: 100%;
            float: left;
            .btn-white{
                padding: 4px 20px;
                display: inline-block;
                border: 2px solid #ee5826;
                color: #ee5826;
                float: left;
                font-family: $gothambold;
                text-transform: uppercase;
                font-size: 13px;
                border-radius: 0;
            }
            .out-link{
                display: inline-block;
                color: $light-orange;
                border: 2px solid $light-orange;
                width: 34px;
                height: 34px;
                line-height: 32px;
                float: right;
            }
        }
    }
    .shadow {
        display:none;
    }
    .continue-button {
        margin-top: 50px !important;
        display: block;
        clear: left;
        float: left;
        text-align: center;
        width: 100%;
    }
}
@media (min-width:1024px) and (max-width:1250px) {
    .signup_page {
        .parent{
            .signup_user, .signupcompany{
                h2{
                    margin-bottom: 22px;
                    font-size: 23px;
                }
            }
        }
        .userform, .vocformdiv {
            h4{
                font-size: 23px;
            }
        }
    }
    #storeRecommendedVocs-form .carousel .slides {
        .slideItem {
            width: 190px;
            height: 135px;
            overflow: hidden;
            img {
                border: 3px solid #FFF;
                max-height: inherit;
                width: 100%;
            }
        }
    }
}
@media (min-width:768px) and (max-width:1023px) {
    .signup_page {
        .parent{
            .signup_user, .signupcompany{
                padding:50px 28px !important;
                h2{
                    margin-bottom: 22px;
                    font-size: 21px;
                }
                p{
                    font-size: 16px;
                    line-height: 42px;
                }
                .join_user, .join_company{
                    margin:20px auto 0;
                }
            }
        }
        .userform, .vocformdiv {
            h4{
                font-size: 23px;
            }
        }
        #createVocDex, #storeVocDexSubCategory, #createVoc, #vocProfile, #templateModal {
            padding: 34px 0;
        }
        #storeRecommendedVocs-form {
            .carousel .slides .slideItem {
                float: none;
                margin: 0 auto;
                img {
                    border: 3px solid #FFF;
                    max-height: inherit;
                    width: 100%;
                }
            }
        }
        .card-header{
            width: 100%;
        }
        #templateModal{
            .continue-button{
                margin-top: 50px;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .modal-content{
        width: 95%;
        margin: 20px auto;
        z-index:1;
    }
    /*USER*/
    .signup_page {
        .parent{
            display:block;
            .signup_user, .signupcompany{
                padding:30px 16px !important;
                width:100%;
                display: block;
                float:left;
                h2{
                    margin-bottom: 22px;
                    font-size: 23px;
                }
                p{
                    font-size: 17px;
                    line-height: 25px;
                }
                .join_user, .join_company{
                    margin:20px auto 0;
                }
            }
        }
        #createVocDex, #storeVocDexSubCategory, #createVoc, #vocProfile, #voc-category-form, #template, #templateModal {
            padding: 34px 0;
        }
        #storeRecommendedVocs-form {
            .carousel .slides .slideItem{
                margin: 0 auto;
                float: none;
                img {
                    border: 3px solid #FFF;
                    max-height: inherit;
                    width: 100%;
                }
            }
        }
        .userform, .vocformdiv {
            h4{
                font-size: 23px;
            }
        }
        .card-header{
            width: 100%;
        }
    }
}
// WEBPACK FOOTER // // ./resources/assets/sass/frontend/login.scss 