@import "app.scss";
@import"../plugin/scale-overlay.scss";
.legal {
    .section {
        margin-bottom: 30px;
        .italic { font-style: italic; }
        .bold { font-weight: bold; }
        .title { 
            display: block;
            font-size: 20px; 
        }
        .content {
            line-height: 23px;
            &:not(last) {
                margin: 0 0 10px;
            }
        }
    }
}